<%-include("partials/header")-%>
<h1>Give Feedback</h1>
<hr style="margin-top: -15px; height: 1px; border-top: 2px solid; border-right: 0; border-left: 0;">

<div class="feedback-form">
    <form class="form-horizontal" action="mailto: naveenjsr99@gmail.com" method="post" enctype="text/plain">
        <div class="form-group group">
    <label class="col-sm-4 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" name="Name" value="" class="form-control"  placeholder="Name">
    </div>
  </div>
  <div class="form-group group">
    <label class="col-sm-4 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" name="Email" value="" class="form-control"  placeholder="Email">
    </div>
  </div>

  <div class="form-group group">
    <label class="col-sm-4 control-label">Rating</label>
    <div class="col-sm-2">
      <select class="form-control" name="Rating">
        <option value="0">Select</option>
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">4</option>
        <option value="1">5</option>
      </select>
    </div>
  </div>

  <div class="form-group group">
    <label class="col-sm-4 control-label">Message</label>
    <div class="col-sm-4">
      <textarea class="form-control" name="Message" cols="30" rows="5"></textarea>
    </div>
  </div>
  
  <div class="form-s-btn form-group">
    <div class="col-sm-offset-5 col-sm-7">
      <input type="submit" class="btn btn-success">
    </div>
  </div>
</form>
</div>

<%-include("partials/footer")-%>